.SearchResultsRender-container {
  width: 90%;
  margin: 3vh 2vh;
  height: 70vh;
  overflow: scroll;

  .header-container {
    h1,
    h4 {
      margin: 0;
    }

    display: flex;
    flex-direction: row;
    margin: 2vh;

    justify-content: space-between;
    .filter-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 30%;
      justify-content: space-evenly;
    }
  }
  .results-table {
    width: 100%;
    vertical-align: middle;

    tr {
      border: 1px solid #ddd;
    }

    .repoInformation-row {
      border-spacing: 2rem;

      a:link {
        color: #362f3f;
      }

      a:visited {
        color: lighten(#362f3f, 30%);
      }

      td {
        text-align: left;
        width: 20%;
        padding: 6px 13px;
      }

      td:first-child {
        // background-color: #f2f2f2;
        width: 60%;
      }
    }
    tr:nth-child(even) {
      background-color: #a4e8e0;
    }
    tr:nth-child(odd) {
      background-color: #4cd7d0;
    }

    tr:hover {
      cursor: pointer;
      background-color: #f8ea8c;
    }
  }
}

@media (max-width: 768px) {
  .SearchResultsRender-container {
    .header-container {
      flex-direction: column;
      align-items: center;
      width: 100%;

      h1,
      h4 {
        font-size: 1rem;
      }

      .filter-container {
        width: 100%;
        margin-top: 1vh;
      }
    }
  }
}
