.SearchResultsRender-container {
  width: 90%;
  margin: 3vh 2vh;
  height: 70vh;
  overflow: scroll;

  .header-container {
    h1,
    h4 {
      margin: 0;
    }

    display: flex;
    flex-direction: row;
    margin: 2vh;
    justify-content: space-between;

    .filter-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 30%;
      justify-content: space-evenly;
    }
  }
  .results-table {
    width: 100%;
    vertical-align: middle;
    padding: 0 10px;

    th {
      background-color: #eaf2fc;
      color: black;
    }

    th:hover {
      color: #2e57ea;
    }

    tr {
      border: 1px solid #ddd;
    }

    .repoInformation-row {
      border-spacing: 2rem;

      a:visited {
        color: lighten(#2b4dc6, 20%);
      }

      td {
        text-align: left;
        width: 20%;
        padding: 6px 13px;
      }

      td:first-child {
        width: 60%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 25ch;
      }
    }

    tr:nth-child(even) {
      background-color: #000000;
      a:link {
        color: #ffffff;
      }
    }

    tr:nth-child(odd) {
      background-color: #ffffff;
      a:link {
        color: #000000;
      }
    }

    tr:hover {
      cursor: pointer;
      background-color: #2e57ea;
    }
  }
}

@media (max-width: 815px) {
  .SearchResultsRender-container {
    .header-container {
      flex-direction: column;
      align-items: center;
      width: 100%;

      h1,
      h4 {
        font-size: 1rem;
      }

      .filter-container {
        width: 100%;
        margin-top: 1vh;
      }
    }
  }
}
