$color-Fressia: "#e1c340";
$color-Cyan: "#4cd7d0";
$color-TiffanyBlue: "#A4E8E0";
$color-Yellow: "#F8EA8C";
$color-Purple: "#362F3F";

$color-Indigo: #2e57ea;
$color-DarkIndigo: #2b4dc6;
$color-Green: #09c675;
$color-Grey: #eaf2fc;
$color-Black: #000000;
$color-White: #ffffff;
