.App-root {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid red;

  .App-container {
    width: 75vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid green;
    height: 100vh;

    .title-header {
      font-weight: bold;
      letter-spacing: 0.4rem;
      font-size: 2rem;
      margin: 4vh 0;
    }
  }
}

@media (max-width: 768px) {
  .App-root {
    .App-container {
      width: 100vw;
    }
  }
}
